*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Funnel Sans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--bg);
  color: var(--text);
}

h1 {
  font-family: Funnel Display, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg {
  filter: opacity(15%) blur(2px);
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 600px;
  background-image: url('/assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 0 15px;
}

.links {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 25px 0;
}

.links a {
  font-size: 1.2rem;
  padding: 5px 15px;
  border-radius: 50px;
  transition: all ease-in-out 180ms;
  text-decoration: none;
  color: var(--text);
  text-transform: uppercase;
  font-weight: 400;
}

.links a:hover {
  background: var(--accent);
  color: white;
}

.hero { 
  font-size: 1.2rem;
  margin: 40px 0;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.hero h1,
.hero h3
{ 
  font-family: Audiowide, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
}

.btn {
  background: var(--accent);
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 30px;
  padding: 15px 25px;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: all ease-in-out 100ms;
}

.pill {
  padding: 5px 12px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: none;
}

.pill:hover {
  box-shadow: none !important;
}

.btn:hover {
  transform: translate3d(0, -2px, 0);
  box-shadow: 0 1px 5px var(--shadow);
}

.pill:hover,
.btn:hover {
  background: var(--accent-darker);
}

.about {
  background: var(--bg-card);
  color: var(--text);
  border-radius: 20px;
  padding: 30px;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 2rem;
  box-shadow: 0 2px 10px var(--shadow);
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid var(--border);
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.about h2 {
  font-size: 2rem;
  text-transform: uppercase;
}

.about img {
  width: 180px;
  border-radius: 50%;
}

.about p {
  font-weight: 400;
  line-height: 2rem;
  font-size: 1.2rem;
}

.cta-text {
  font-weight: 900;
}

#portfolio {
  margin: 40px auto;
}

#portfolio h2 {
  margin: 20px 10px;
}

.portfolio {
  margin: 30px 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  display: flex;
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 15px;
  height: 140px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-family: Funnel Display;
  gap: 1rem;
  max-width: 400px;
  transition: all ease-in-out 200ms;
}

.portfolio-item:hover {
  transform: translateY(-8px);
  box-shadow: 0 1px 15px var(--shadow);
}

.portfolio-item img {
  width: 100%;
  max-height: 150px;
}

.copy {
  width: 100%;
  display: block;
  text-align: center;
  padding: 40px 0;
}

@media screen and (min-width: 600px) {
  .about__content {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #F71735;
    --accent-darker: #D9142E;
    --text: #f9f9f9;
    --bg: #1e1e1e;
    --bg-card: #1c1c1cc2;
    --shadow: #131313;
    --border: #484848;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent: #F71735;
    --accent-darker: #D9142E;
    --text: #1e1e1e;
    --bg: #f9f9f9;
    --bg-card: #ffffffee;
    --shadow: #c6c6c682;
    --border: #c6c6c6;
  }
}
